<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /smartparking_report/
    
    # Send everything to public folder
    RewriteCond %{REQUEST_URI} !^/smartparking_report/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
