Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /smartparking_report/public/
    
    # If request is for a real file or directory, serve it directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Otherwise, send it to index.php
    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>
